<h1>Listing adds</h1>
<!--
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Date add</th>
      <th>Price</th>
      <th>Img</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>


<% @adds.each do |add| %>
      <tr>
    
<% if add.active == true  %>    

        <td><%= add.name %></td>
        <td><%= add.description %></td>
        <td><%= add.date_add %></td>
        <td><%= add.price %></td>
        <td><%= add.img %></td>
        <td>|<%=   @asd  %>||<%=   add.user_id  %>|<%=current_user%>|</td>
   <td><%= link_to 'Show', add %></td>
<% if user_signed_in? && add.user_id == current_user.id %>

    
        <td><%= link_to 'Edit', edit_add_path(add) %></td>
        <td><%= link_to 'Destroy', add, method: :delete, data: { confirm: 'Are you sure?' } %></td>


<% else %>
<% end %>

<%else %>       
<%end%>


      </tr>
    <% end %>

-->
<div class="sexy_body">

<% @adds.each do |add| %>
      <div class="sexydiv">
  
<% if add.active == true  %>    

    <h5>  <%= add.name %></h1>
     Description: <%= add.description %><br>
     Date added: <%= add.date_add %><br>
     Price: <%= add.price %><br>
       
        
  <%= link_to 'Show', add %>
<% if user_signed_in? && add.user_id == current_user.id %>

    
        <%= link_to 'Edit', edit_add_path(add) %>|
        <%= link_to 'Destroy', add, method: :delete, data: { confirm: 'Are you sure?' } %>


         <% else %>
          <% end %>

<%else %>       
<%end%>
</div>

<% end %>
</div>
<!--
      </tr>
    

  </tbody>


</table>-->

<br>

